* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 1, 8, 0.653);
  max-width: 100vw;
  align-items: center;
}

.menu {
  background-color: rgb(196, 196, 67);
  align-items: center;
  width: 80vw;
  padding: 2rem;
}

.menu a {
  border-radius: 1em;
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-shadow: 5px 2px 5px black;
  background-color: tomato;
}
nav a:hover {
  transform: translate(2px, -1px);
}
.menu img {
  display: flex;
  justify-content: center;
  background-color: rgb(205, 119, 14);
}
.titulo2 {
  background-image: url(../images/together-2.jpg);
}
.centrando {
  background-image: url(../images/together.jpg);
}

.imagen1 {
  display: none;
}

.centrando {
  height: 60vh;
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-left: 20%;
  margin-top: 50px;
}

.titulo2 {
  height: 60vh;
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-left: 20%;
  margin-top: 50px;
}
.quitada {
  display: none;
}

.parrafo-imagen {
  height: 58vh;
  display: flex;
  font-size: 2rem;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
  flex-flow: -row wrap;
  object-fit: contain;
  width: 47rem;
  height: 30rem;
  object-fit: contain;
}

.page2 {
  color: yellow;
  display: flex;
  background-color: rgba(63, 63, 61, 0.653);
  text-align: center;
  font-size: 2rem;
  justify-content: flex-end;
  text-decoration: none;
  margin-left: 15rem;
  margin-top: 1rem;
  width: 11vw;
}

.segundotitle {
  margin-top: 15rem;
  font-size: 3rem;
}
.logo2 {
  width: 6rem;
  margin-right: 2rem;
  display: flex;
  margin-right: 4rem;
  padding: 0.2rem;
}

/* 
                                                about2 */

.main2 {
  display: flex;
  flex-direction: column;
}
.img1,
.img2,
.img3 {
  display: flex;
  width: 20rem;
}
.imagenes3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.elcasiultimo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.textos {
  display: flex;
  text-align: center;
  font-size: 1.5rem;
}
.elquesige {
  justify-content: center;
  text-align: center;
  height: 30%;
}

/*contact*/

.ultima {
  display: none;
}
.tituloultimo {
  background-image: url(../images/image-3.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  height: 25rem;
  margin: 5rem;
}
 .vaendos{
  
 }
.ultimocontenedor {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.letrero2 {
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  
}
.logo3 {
  width: 5rem;
  border-radius: 1rem;
  background-color: aqua;
  margin-right: 4rem;
}

/*      schedule */

table,
td,
tr,
th {
  border: solid 2px black;
  border-radius: 15%;
  padding: 1rem;
  border: rebeccapurple solid;
  font-size: 1.5rem;
  text-align: center;
}
.contenedor-tabla {
  display: flex;
  justify-content: center;
  height: 20rem;
  align-self: center;
  margin-top: 3rem;
}
.unicatabla {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.tabla {
  display: flex;
  justify-content: center;
  align-self: center;
}
.titulosdetabla {
  background-color: aqua;
  text-align: center;
  align-items: flex-end;
  justify-content: first baseline;
  margin-top: 4rem;
}
/*   listas */

.lista-padre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  

}
.imagen-de-lista{
  width: 20rem;
  margin: 4%;
}

.lista1{
  list-style-type: lower-latin;
  margin: 8%;


  
}
.centrar{
  width: 52%;
  display: flex;
  justify-content: space-evenly;
}

.lista-padre2{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;

}
.imagen-de-lista2{
 width: 20rem;
 
}

.lista2{
  list-style-type: lower-latin;
  justify-content: space-evenly;
}
.lista2 h2{
  margin: 4%;
  text-align: center;

}
div .lista2{
  text-align: center;
}

.lista2 li{
  margin: 7%;
}
.centrar2{
  width: 47%;
  display: flex;
  justify-content: space-evenly;
}
                       /*  formulario */
                        
.cuerpo-formulario{
  display: flex;
  border: solid palegoldenrod;
  width: 80rem;
 justify-items: center;
 flex-direction: column ;
 background-color: coral;
text-align: center;
height: 91rem;
justify-content: center;
font-size: 1.5rem;
}
 .formula-imagen img{
  width:74rem;
  background-color: aqua;
  height: 45rem;
  
  border: rgb(244, 164, 96);
  justify-content: space-between;
 }
 .formula-imagen{
  
  width: 94vh;

  }
  iframe{width: 200dvh;
    
  }

div.imagen-y-mapa{
  display: flex;
  justify-content: space-between;
}
.subti-formularios{
  text-align:right

}
.titulo-del-formulario{
  text-align: center;
}